.no-js nav li:hover ul {
	display:block;
}
/* base nav styles */
#topNav {
	
}
nav {
	display:block;
	margin-left:auto;
	margin-right:auto;
	position:relative;
	z-index:10000;
}


nav ul {
	padding:0;
	margin:0;
	display:inline-block;
}
nav li {
	position:relative;
	float:left;
	list-style-type:none;
	font-family: 'novecento-regular';
}
nav ul:after {
	content:".";
	display:block;
	height:0;
	clear:both;
	visibility:hidden;
}
nav li a {
	display:block;
/*	padding: 5px 30px;
	font-size:14px;*/
	width:140px;
	padding: 5px 20px;
	font-size:12px;
	text-decoration:none;
	color: #1a232e;
	float:right;
	vertical-align:bottom;
}
nav li a:hover{
	/*color: #FFF;*/
	color:#5C8A8A;
	text-decoration: none;
}
nav li:first-child a {
	border-left:none;
}
nav li.last a {
	border-right:none;
}
/*nav a span {
	display:block;
	float:right;
	margin-left:0 px;
}*/
nav ul ul {
	display:none;
	width:auto;
	position:absolute;
	top:0px;
	/*float:right;*/
	/*left:-100px;*/
	right:180px;
	padding-bottom:15px;
}
nav ul ul li {
	float:right;
}
nav ul ul a {
	border-left:none;
	border-right:none;
	font-size:10px;
	background:#E0EBEB;
	/*color:#FFF;*/
	color:#1a232e;
	position:relative;
	text-align:right;
	/*left:10px; 
	right:10px; */
}
nav ul ul a:hover {
	color: #5C8A8A;
	text-decoration: none;	
}
/* CSS3 */
nav li:hover {
	/*background: rgba(26, 35, 46, 0.8);*/
	background:#E0EBEB;
}

.boxshadow.rgba nav ul ul {
	/*background: rgba(26, 35, 46, 0.8);*/
	background:#E0EBEB;
}
.csstransforms ul a span { -moz-transform:rotate(-180deg);-webkit-transform:rotate(-180deg); -ms-transform: rotate(-180deg); /* IE 9 */ }
