/*
 * Image Styles for www.rextwedt.com
 * Copyright Rex Twedt 2019
 */

/* ABOUT IMAGE BACKGROUND */
.about-img-bg
	height:214px;
	width:214px;
	margin: 4px auto;
	background: #04171D;
	/* rounded corners */
	border-radius: 4px;
	/* drop shadow */
	box-shadow: 2px 2px 2px #3B473D;

	img
		margin: 7px;
		width: 200px;
		height: 200px;
		padding: 0px;

