/*
 * Contact Form styles www.rextwedt.com
 * Copyright Rex Twedt 2019
 */

.contact-form
	min-height 154px
	width 80%
	min-width 320px
	margin 24px auto
	background #04171D
	padding 10px
	border-radius 6px
  box-shadow 2px 2px 8px #e3e3e3

	// label
	// 	width 100%

.form-label
	color white
	width 100%
input, textarea
	padding 4px
	color #04171D
	width 100%
textarea
	height 72px
#submit
	display block
	width 24%


/***** LINKS *****/

.professional-links
	margin 10px
	a
		text-decoration none
		margin 4px
	&:first-child
		margin-left 18px

	// img
	// 	&:hover
	// 		opacity 0.75
	// 		filter alpha(opacity=75); /* For IE8 and earlier */
