/*
 * Contact Form styles www.rextwedt.com
 * Copyright Rex Twedt 2019
 */

form
	min-height 154px
	width 80%
	min-width 320px
	margin 24px auto
	background #04171D
	padding 10px
	border-radius 4px
  box-shadow 2px 2px 8px #e3e3e3

	label
		color white
		font-weight normal
		width 100%
		display block

		.form-label
			width 120px
			display inline-block
			vertical-align top

		input, textarea
			color #04171D
			width calc(100% - 120px)
			resize vertical

	#submit
		margin-left calc(100% - 54px)


/***** LINKS *****/

.professional-links
	margin 10px
	a
		text-decoration none
		margin 2px
	&:first-child
		margin-left 18px

	// img
	// 	&:hover
	// 		opacity 0.75
	// 		filter alpha(opacity=75); /* For IE8 and earlier */
