/*
 * Footer Styles for www.rextwedt.com
 * Copyright Rex Twedt 2019
 */

/***** FOOTER STYLES *****/

.copyright
  width 100%
  font-size 16px
  color #bcbcbc
  text-align center
  padding 5px 0
  min-width 364px


/***** MEDIA QUERIES *****/

// // Add horizontal space around containers on phone screens
@media screen and (min-width 584px)
  .copyright
    width 100%

@media screen and (min-width: 960px)
  .copyright
    width 100%
