/*
 * Image Styles for www.rextwedt.com
 * Copyright Rex Twedt 2019
 */

/* HOME IMAGE BACKGROUND */
.home-img-bg
	max-width: 734px;
	width: 80%;
	height: auto;
	margin: 4px auto;
	background: #04171D;
	/* rounded corners */
	border-radius: 4px;
	/* drop shadow */
	box-shadow: 2px 2px 2px #3B473D;

	img
		max-width: 720px;
		width: calc(100% - 14px);
		height: auto;
		margin: 7px;
		padding: 0px;

