/*
 * Main Styles for www.rextwedt.com
 * Copyright Rex Twedt 2019
 */

@import "./navbar";
// @import "images";
// @import "contact-form";


/* DEFAULT SETTINGS */

html, body
  width 100%
  height 100%
  margin 0
  padding 0
  box-sizing border-box
	font-family serif
	color #222

// Screen Readers
.screen-reader
	position absolute
	left -10000px
	top auto
	width 1px
	height 1px
	overflow hidden


/* PAGE SKELETON */

/* main minimum height of content the full height of the page */
.main-content
	min-height calc(100% - 124px)
	width 100%

#copyright
	width 100%
	font-size 16px
	color #bcbcbc
	text-align center
	padding 10px 0

/* fake link style for home page */
#home-link
	color #8A8E82
	text-decoration underline

/* MEDIA QUERIES */

// // Add horizontal space around containers on phone screens
// @media (max-width: $screen-sm-min)
// 	.container
// 		padding-left 20px
// 		padding-right 20px
