//-
  Projects List.
  Copyright Rex Twedt 2019
  
h1 Projects
div(class="project-filters")
  div(class="filter") Animation
  div(class="filter") Interactive
  div(class="filter") Illustration
  div(class="filter") Teaching
div(class="projects-wrap")
  div(class="project-card")
    div(class="project-img")
      img(src="./img/nav-logo.png")
    div(class="project-content")
      h1 Project Title
      p
        | Rex Twedt was just an ordinary kid from Omaha, Nebraska. After
        | graduating from Iowa State University with a degree in Biochemistry, he
        | began working at Cargill as a lab technician.
