AuthType Basic
AuthName " Statistics"
/web/httpd2/conf/1494/virtualhosts.conf- AuthName "rextwedt.com Statistics"
AuthUserFile /var/chroot/home/content/01/10549101/html/stats/.statspwd
Require valid-user
DirectoryIndex index.html
